.clause-attr {
    width: 35%
}

.clause-op {
    width: 20%
}

.clause-key {
    width: 35%
}

.clause-remove {
    width: 10%
}

.clause-member {
    display: flex;
    justify-content: center;
}

.clause-container {
    display: flex;
    justify-content: space-between;
    gap: 10pt
}

.clause-adder {
    width: 100%;
    padding-bottom: 10pt;
}

.submit-button {
    padding-top: 10pt
}