<h1 mat-dialog-title>Clause Editor</h1>
<mat-dialog-content>
    <form [formGroup]="clauseForm" (ngSubmit)="onSubmit()">
        <div class="node-options">
            <mat-form-field class="logical-op" appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select name="nodeType" formControlName="nodeType"
                    [matTooltip]="'This can either be a stand-alone clause or a logical operator applied to children clauses'">
                    <mat-option *ngFor="let type of nodeTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="logical-op" appearance="outline">
                <mat-label>Logical Operator</mat-label>
                <mat-select name="attr" formControlName="logicalOperator">
                    <mat-option *ngFor="let op of logicalOps" [value]="op">
                        {{op}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="clause-container" formGroupName="whereClause">
            <mat-form-field class="clause-attr clause-member" appearance="fill">
                <mat-label>Attribute</mat-label>
                <mat-select name="attr" formControlName="attribute">
                    <mat-option *ngFor="let attr of attributesIterable" [value]="attr.name">
                        {{attr.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="clause-op clause-member" appearance="fill">
                <mat-label>Op</mat-label>
                <mat-select name="op" formControlName="operator">
                    <mat-option *ngFor="let op of whereOps" [value]="op">
                        {{op}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="clause-key clause-member" appearance="fill">
                <mat-label>Value</mat-label>
                <input type="text" name="val"  aria-label="Number" matInput formControlName="value"
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of currentValueFilteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSubmit()">Save</button>
</mat-dialog-actions>