<app-esri-map></app-esri-map>
<div id="menuDiv">
    <mat-card id="queryBuilderDiv">
        <mat-card-title>Query Builder</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="tab-wrapper mat-tab-fill-height">
            <mat-tab label="Vehicle Position">
                <app-vehicle-position></app-vehicle-position>
            </mat-tab>
            <mat-tab label="Bus Stops">
                <app-bus-stops></app-bus-stops>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <mat-card id="layersDiv">
        <mat-card-title>Layers</mat-card-title>
        <app-layers id="layersEdit"></app-layers>
    </mat-card>
</div>