<div class="container">
    <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
        <h3>WHEN</h3>
        <mat-checkbox formControlName="now">Now</mat-checkbox>
        <div formGroupName="timeInterval" [hidden]="queryForm.get('now')?.value">
            <p>Select Date/Time Interval:</p>
            <mat-form-field>
                <mat-label>Start</mat-label>
                <input matInput #pstart [ngxMatDatetimePicker]="pickerFrom" formControlName="start"
                    placeholder="From date & time">
                <mat-datepicker-toggle matSuffix [for]="$any(pickerFrom)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerFrom [enableMeridian]="true"></ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>To</mat-label>
                <input matInput [ngxMatDatetimePicker]="pickerTo" formControlName="end" placeholder="To date & time"
                    [min]="queryForm.get('timeInterval')?.get('start')">
                <mat-datepicker-toggle matSuffix [for]="$any(pickerTo)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerTo [enableMeridian]="true"></ngx-mat-datetime-picker>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h3>WHERE</h3>
        <div *ngIf="queryForm.get('whereClauses') == null">
            <button mat-raised-button type="button" (click)="onAddClauses()">Add clauses</button>
        </div>
        <app-clause-tree [attributes]="attributes" formName="whereClauses"></app-clause-tree>
        <mat-divider></mat-divider>
        <div class="submit-button">
            <button mat-raised-button color="accent" type="submit" [disabled]="!queryForm.valid">Submit</button>
        </div>
    </form>
</div>